<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/flexwarm-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Flexwarm">
    <link type="text/css" rel="stylesheet" href="/assets/application.css">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <header id="luxbar" class="luxbar-fixed">
      <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox">
      <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-red">
        <div class="container">
          <ul class="luxbar-navigation">
            <li class="luxbar-header">
              <a href="{{ site.url }}"><img src="{{ site.url }}/images/assets/flexwarm-logo.png" width="172" height="45" alt="Flexwarm Logo"></a>
              <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item dropdown {% if page.category == 'about' %}active{% endif %}"><a>About</a>
              <ul>
                <li class="luxbar-item {% if page.title == 'About Flexwarm' %}active{% endif %}"><a href="{{ site.url }}/about/">About Flexwarm</a></li>
                <li class="luxbar-item {% if page.title == 'Flexwarm History' %}active{% endif %}"><a href="{{ site.url }}/history/">Flexwarm History</a></li>
                <li class="luxbar-item {% if page.title == 'Flexwarm Team' %}active{% endif %}"><a href="{{ site.url }}/team/">Flexwarm Team</a></li>
                <li class="luxbar-item {% if page.title == 'Flexwarm Honors' %}active{% endif %}"><a href="{{ site.url }}/honors/">Flexwarm Honors</a></li>
                <li class="luxbar-item {% if page.title == 'Flexwarm Factory' %}active{% endif %}"><a href="{{ site.url }}/factory/">Flexwarm Factory</a></li>
                <li class="luxbar-item {% if page.title == 'Corporate Social Responsibility' %}active{% endif %}"><a href="{{ site.url }}/corporate-social-responsibility/">Corporate Social Responsibility</a></li>
              </ul>
            </li>
            <li class="luxbar-item dropdown {% if page.category == 'technologies' %}active{% endif %}"><a>Technologies</a>
              <ul>
                <li class="luxbar-item {% if page.title == 'Flexwarm Heating Technology' %}active{% endif %}"><a href="{{ site.url }}/flexwarm/">Flexwarm Heating Technology</a></li>
              </ul>
            </li>
            <li class="luxbar-item dropdown {% if page.category == 'products' %}active{% endif %}"><a>Products</a>
              <ul>
                <li class="luxbar-item {% if page.title == 'Home Appliance' %}active{% endif %}"><a href="{{ site.url }}/home-appliance/">Home Appliance</a></li>
                <li class="luxbar-item {% if page.title == 'Smart Clothes' %}active{% endif %}"><a href="{{ site.url }}/smart-clothes/">Smart Clothes</a></li>
                <li class="luxbar-item {% if page.title == 'Smart Wear' %}active{% endif %}"><a href="{{ site.url }}/smart-wear/">Smart Wear</a></li>
                <li class="luxbar-item {% if page.title == 'App' %}active{% endif %}"><a href="{{ site.url }}/app/">App</a></li>
              </ul>
            </li>
            <li class="luxbar-item {% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
            <li class="luxbar-item {% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>
      {{ content }}
      <footer>
        <div class="footer clearfix">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-xs-12">
                <div class="footerContent">
                  <a href="{{ site.url }}" class="footer-logo"><img src="/images/assets/flexwarm-logo.png" alt="Flexwarm-logo"></a>
                  <p>Leading by a senior engineer associated with Tiangong-1 in 2011, a group of hardworking engineers sweated on applying the military technologies, thick film heating technology and higher precision sensor technology, to products for civilian use.</p>
                  <a href="{{ site.url }}/about/" class="btn buttonTransparent" style="margin-top:20px;">Learn More</a>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12">
                <div class="footerContent">
                  <h5>Technologies</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-fire"></i><a href="{{ site.url }}/flexwarm/">Flexwarm Heating Technology</a></li>
                    <li><i class="fa fa-cloud-download"></i><a href="{{ site.url }}/app/">Download app</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="footerContent">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i>{{ site.address }}</li>
                    <li><i class="fa fa-phone"></i>{{ site.tel }}</li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailTo:{{ site.email }}">{{ site.email }}</a></li>
                  </ul>
                  <ul class="list-inline">
                    <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="{{ site.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyRight clearfix">
          <div class="container">
            <div class="col-sm-12 text-center">Copyright © 2011-2018 Guangdong Flexwarm Advanced Materials & Technology Co., Ltd | <a href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a> | Website design by <a href="https://gdky.net" target="_blank">OSW</a></div>
          </div>
        </div>
      </footer>

    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>