<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/flexwarm-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Flexwarm">
    <link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/selectbox/select_option1.css">
    <link rel="stylesheet" type="text/css" href="/plugins/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/plugins/isotope/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="/plugins/isotope/isotope.css">
    <link rel="stylesheet" href="/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="/plugins/revolution/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/colors/default.css" id="option_color">
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.min.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body-wrapper {% if page.category == 'home' %}changeHeader{% endif %}">
    <div class="main-wrapper">
      <header>
        <nav class="navbar navbar-default navbar-main navbar-fixed-top {% if page.category == 'home' %}{% else %}lightHeader{% endif %}" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.url }}"></a>
            </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown singleDrop active">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Home </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li class="dropdown singleDrop active "><a href="index.html">Home Main</a></li>
                  <li class="dropdown singleDrop  "><a href="index-v2.html">Home City</a></li>
                  <li class="dropdown singleDrop  "><a href="index-v3.html">Home Destination</a></li>
                </ul>
              </li>
              <li class="dropdown megaDropMenu ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Tours</a>
                <ul class="row dropdown-menu">
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Tour Packages Grid View</li>
                      <li class=""><a href="packages-grid-left-sidebar.html">Packages Sidebar Left</a></li>
                      <li class=""><a href="packages-grid-right-sidebar.html">Packages Sidebar Right</a></li>
                      <li class=""><a href="packages-grid.html">Packages 3 Columns</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Tour Packages List View</li>
                      <li class=""><a href="packages-list-left-sidebar.html">Packages Sidebar Left</a></li>
                      <li class=""><a href="packages-list-right-sidebar.html">Packages Sidebar Right</a></li>
                      <li class=""><a href="packages-list.html">Packages List</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Single Package</li>
                      <li class=""><a href="single-package-left-sidebar.html">Packages Sidebar Left</a></li>
                      <li class=""><a href="single-package-right-sidebar.html">Packages Sidebar Right</a></li>
                      <li class=""><a href="single-package-fullwidth.html">Package Fullwidth</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Booking Steps</li>
                      <li class=""><a href="booking-1.html">Step 1 - Personal Info</a></li>
                      <li class=""><a href="booking-2.html">Step 2 - Payment Info</a></li>
                      <li class=""><a href="booking-3.html">Step 3 - Confirmation</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown megaDropMenu ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Hotels</a>
                <ul class="row dropdown-menu">
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Hotels Grid View</li>
                      <li class=""><a href="hotels-grid-left-sidebar.html">Hotels Sidebar Left</a></li>
                      <li class=""><a href="hotels-grid-right-sidebar.html">Hotels Sidebar Right</a></li>
                      <li class=""><a href="hotels-grid.html">Hotels 3 Columns</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Hotels List View</li>
                      <li class=""><a href="hotels-list-left-sidebar.html">Hotels Sidebar Left</a></li>
                      <li class=""><a href="hotels-list-right-sidebar.html">Hotels Sidebar Right</a></li>
                      <li class=""><a href="hotels-list.html">Hotels List</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Single Hotel</li>
                      <li class=""><a href="single-hotel-left-sidebar.html">Hotels Sidebar Left</a></li>
                      <li class=""><a href="single-hotel-right-sidebar.html">Hotels Sidebar Right</a></li>
                      <li class=""><a href="single-hotel-fullwidth.html">Hotels Fullwidth</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Booking Steps</li>
                      <li class=""><a href="booking-1.html">Step 1 - Personal Info</a></li>
                      <li class=""><a href="booking-2.html">Step 2 - Payment Info</a></li>
                      <li class=""><a href="booking-3.html">Step 3 - Confirmation</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown singleDrop ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PAGES</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class=""><a href="about-us.html">About Us</a></li>
                  <li class=""><a href="contact.html">Contact Us</a></li>
                  <li class="dropdown dropdown-submenu ">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Gallery <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu ">
                      <li class=""><a href="gallery-grid.html">Gallery Grid</a></li>
                      <li class=""><a href="gallery-masonry.html">Gallery Masonry</a></li>
                      <li class=""><a href="gallery-photo-slider.html">Photo Slider</a></li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-submenu ">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Destinations <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                      <li class=""><a href="destination-cities.html">Destination Cities</a></li>
                      <li class=""><a href="destination-single-city.html">Single Destination</a></li>
                    </ul>
                  </li>
                  <li><a href="404.html">404 Not Found</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>
                </ul>
              </li>
              <li class="dropdown singleDrop ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog Grid View <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                      <li class=""><a href="blog-grid-three-col.html">Blog Grid 3 Col</a></li>
                      <li class=""><a href="blog-grid-two-col.html">Blog Grid 2 Col</a></li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog List View <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                      <li class=""><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                      <li class=""><a href="blog-list-left-sidebar.html">blog-list-left-sidebar.html</a></li>
                      <li class=""><a href="blog-list-fullwidth.html">Blog List Fullwidth</a></li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Single Blog Post <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                      <li class=""><a href="blog-single-right-sidebar.html">Right Sidebar</a></li>
                      <li class=""><a href="blog-single-left-sidebar.html">Left Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown singleDrop ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class=""><a href="dashboard.html">Dashboard</a></li>
                  <li class=""><a href="booking.html">Booking</a></li>
                  <li class=""><a href="profile.html">Profile</a></li>
                  <li class=""><a href="setting.html">Settings</a></li>
                  <li class=""><a href="" data-toggle="modal" data-target="#signup">Signup</a></li>
                  <li class=""><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                </ul>
              </li>
              <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      </header>
      {{ content }}
      <footer>
  <div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="footerContent">
            <a href="index.html" class="footer-logo"><img src="img/logo-color-sm.png" alt="footer-logo"></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerContent">
            <h5>contact us</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod.</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-home" aria-hidden="true"></i>61 Park Street, Fifth Avenue, NY</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailTo:info@star-travel.com">info@star-travel.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerContent imgGallery">
            <h5>Gallery</h5>
            <div class="row">
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-1.jpg"><img src="img/home/gallery/thumb-gallery-1.jpg" alt="image"></a>
              </div>
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-2.jpg"><img src="img/home/gallery/thumb-gallery-2.jpg" alt="image"></a>
              </div>
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-3.jpg"><img src="img/home/gallery/thumb-gallery-3.jpg" alt="image"></a>
              </div>
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-4.jpg"><img src="img/home/gallery/thumb-gallery-4.jpg" alt="image"></a>
              </div>
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-5.jpg"><img src="img/home/gallery/thumb-gallery-5.jpg" alt="image"></a>
              </div>
              <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-6.jpg"><img src="img/home/gallery/thumb-gallery-6.jpg" alt="image"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerContent">
            <h5>newsletter</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do. </p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter your email" aria-describedby="basic-addon21">
              <span class="input-group-addon" id="basic-addon21"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
            </div>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight clearfix">
    <div class="container">

        <div class="col-sm-12 col-xs-12">
          <div class="copyRightText text-center">
            <p>Copyright © 2016-2018 Guangdong Flexwarm Advanced Materials & Technology Co., Ltd | <a href="{{ site.url }}/Sitemap.xml" target="_blank">Sitemap</a> | Website design by <a href="https://gdky.net" target="_blank">OSW</a></p>
          </div>

      </div>
    </div>
  </div>
</footer>
</div>




<!-- JAVASCRIPTS -->
<script src="/plugins/jquery/jquery-2.2.4.min.js"></script>
<script src="/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/jquery/waypoints.min.js"></script>
<script src="/plugins/counter-up/jquery.counterup.min.js"></script>
<script src="/plugins/isotope/isotope.min.js"></script>
<script src="/plugins/isotope/jquery.fancybox.pack.js"></script>
<script src="/plugins/isotope/isotope-triger.js"></script>
<script src="/plugins/countdown/jquery.syotimer.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="/js/custom.js"></script>

</body>

</html>
