<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="apple-touch-icon" href="{{ site.url }}/images/assets/flexwarm-icon.jpg">
    <meta name="apple-mobile-web-app-title" content="Flexwarm">
    <link href="{{ site.url }}/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/selectbox/select_option1.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/isotope/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/plugins/isotope/isotope.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="{{ site.url }}/plugins/revolution/css/navigation.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/color.css">
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/assets/html5shiv.min.js"></script>
      <script src="{{ site.url }}/assets/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body-wrapper {% if page.category == 'home' %}changeHeader{% endif %}">
    <div class="main-wrapper">
      <header>
        <nav class="navbar navbar-default navbar-main navbar-fixed-top {% if page.category == 'home' %}{% else %}lightHeader{% endif %}" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ site.url }}"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="{% if page.category == 'news' %}active{% endif %}"><a href="{{ site.url }}/news/">News</a></li>
                <li class="{% if page.category == 'contact' %}active{% endif %}"><a href="{{ site.url }}/contact/">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {{ content }}
    </div>
    <script src="{{ site.url }}/plugins/jquery/jquery-2.2.4.min.js"></script>
    <script src="{{ site.url }}/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="{{ site.url }}/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ site.url }}/assets/bootstrap.min.js"></script>
    <script src="{{ site.url }}/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="{{ site.url }}/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ site.url }}/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="{{ site.url }}/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="{{ site.url }}/plugins/jquery/waypoints.min.js"></script>
    <script src="{{ site.url }}/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="{{ site.url }}/plugins/isotope/isotope.min.js"></script>
    <script src="{{ site.url }}/plugins/isotope/jquery.fancybox.pack.js"></script>
    <script src="{{ site.url }}/plugins/isotope/isotope-triger.js"></script>
    <script src="{{ site.url }}/plugins/countdown/jquery.syotimer.js"></script>
    <script src="{{ site.url }}/plugins/slick/slick.min.js"></script>
    <script src="{{ site.url }}/js/custom.js"></script>
  </body>
</html>