<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/assets/application.css">
  </head>
  <body class="header-fixed">
    <div class="wrapper">
      <div class="header-v5 header-static">
        <div class="topbar-v3">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <ul class="left-topbar">
                  <li><a href="mailto:hodokcd@163.com">Email: hodokcd@163.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-default mega-menu" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand"><img id="logo-header" src="/images/assets/hodo-logo.png" alt="Hodo Logo"></a>
            </div>
            <div class="shop-badge badge-icons pull-right">
              <i class="fa fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumbs">
        <div class="container">
          <h1 class="pull-left">{{ page.title }}</h1>
        </div>
      </div>
      {{ content }}
    </div>
    <script type="text/javascript" src="/assets/application.js"></script>
    <!--[if lt IE 9]>
      <script src="/assets/respond.js"></script>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/placeholder-IE-fixes.js"></script>
    <![endif]-->
  </body>
</html>