---
layout: article
---
<div class="container content blog-page blog-item">
  <div class="blog margin-bottom-40">
    <h2 style="text-align:center"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h2>
    <div class="blog-post-tags" style="text-align:center">
      <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</li>
        <li><i class="fa fa-tags"></i> {{ page.keywords }}</li>
      </ul>
    </div>
    <div style="text-indent:2em;font-size:14px">
      {{ content }}
    </div>
  </div>
</div>